.MuiFormControl-root {
  background-color: #e8e8e8;
  border-radius: 10px;
  font-family: "MoscowSans", Arial, sans-serif;
}

.MuiDateCalendar-root {
  height: fit-content !important;
}

.MuiInputBase-input {
  font-size: 18px !important;
}
.special-color-1 .MuiFormControl-root {
  background-color: #e8e8e8 !important;
}
.special-color-1 .MuiInputBase-input {
  z-index: 2;
  background-color: #e8e8e8 !important;
}

.MuiFormControl-root div {
  font-family: "MoscowSans", Arial, sans-serif;
}
.MuiOutlinedInput-notchedOutline {
  border-width: 0 !important;
}
button.Mui-selected {
  background-color: #62a744 !important;
}
button.Mui-selected:hover {
  background-color: #62a744 !important;
}
.Mui-selected {
  background-color: #62a744 !important;
}

@media (max-width: 540px) {
  .MuiFormControl-root {
    max-width: 120px;
  }

  .MuiInputBase-root.MuiOutlinedInput-root input {
    padding: 8px 4px;
    padding-right: 0;
    font-size: 14px !important;
  }

  .MuiFormControl-root div {
    padding: 0;
  }

  .MuiFormControl-root div div {
    display: none;
  }

  .MuiFormControl-root div button {
    padding: 0;
    padding-right: 4px;
  }

  .MuiFormControl-root div button svg {
    width: 0.8em;
    height: 0.8em;
  }
}
