/* .css-1st8yxe-MuiPickersLayout-root {
  background-color: #ceff64;
} */
/* .css-z3c6am-MuiFormControl-root-MuiTextField-root {
  background-color: #e8e8e8;
  border-radius: 10px;
  font-family: "MoscowSans", Arial, sans-serif;
}
.css-z3c6am-MuiFormControl-root-MuiTextField-root div {
  font-family: "MoscowSans", Arial, sans-serif;
}
.css-1d3z3hw-MuiOutlinedInput-notchedOutline {
  border-width: 0 !important;
} */
/* button.css-1wy8uaa-MuiButtonBase-root-MuiPickersDay-root.Mui-selected {
  background-color: #62a744 !important;
}
button.css-1wy8uaa-MuiButtonBase-root-MuiPickersDay-root.Mui-selected:hover {
  background-color: #62a744;
}
.css-innj4t-MuiPickersYear-yearButton.Mui-selected {
  background-color: #62a744 !important;
} */

.MuiFormControl-root {
  background-color: #e8e8e8;
  border-radius: 10px;
  font-family: "MoscowSans", Arial, sans-serif;
}
.MuiFormControl-root div {
  font-family: "MoscowSans", Arial, sans-serif;
}
.MuiOutlinedInput-notchedOutline {
  border-width: 0 !important;
}
button.Mui-selected {
  background-color: #62a744 !important;
}
button.Mui-selected:hover {
  background-color: #62a744 !important;
}
.Mui-selected {
  background-color: #62a744 !important;
}
