.MuiFormControl-root {
  background-color: #e8e8e8;
  border-radius: 10px;
  font-family: "MoscowSans", Arial, sans-serif !important;

  max-width: 140px;
}

.MuiDateCalendar-root {
  height: fit-content !important;
}

.MuiInputBase-input {
  font-size: 18px !important;
}
.special-color-1 .MuiFormControl-root {
  background-color: #e8e8e8 !important;
}
.special-color-1 .MuiInputBase-input {
  z-index: 2;
  background-color: #e8e8e8 !important;
}

.MuiFormControl-root,
.MuiPickersMonth-root button,
.MuiFormControl-root div,
.MuiPickersToolbar-root span,
.MuiPickersToolbar-root div h4,
.MuiDialogActions-root button {
  font-family: "MoscowSans", Arial, sans-serif !important;
}
.MuiOutlinedInput-notchedOutline {
  border-width: 0 !important;
}
button.Mui-selected {
  background-color: #62a744 !important;
}
button.Mui-selected:hover {
  background-color: #62a744 !important;
}
.Mui-selected {
  background-color: #62a744 !important;
}

@media (max-width: 1400px) {
  .MuiInputBase-root.MuiOutlinedInput-root input {
    text-align: center;
  }
}

@media (max-width: 1024px) {
  .MuiFormControl-root {
    max-width: 90px;
  }
  
  .MuiFormControl-root .MuiInputBase-root {
    padding-right: 0;
  }

  .MuiInputBase-root.MuiOutlinedInput-root input {
    padding: 8px;
    text-align: center;
  }
}

@media (max-width: 540px) {
  .MuiFormControl-root {
    max-width: 80px;
  }

  .MuiInputBase-root.MuiOutlinedInput-root input {
    padding-right: 8px;
    font-size: 14px !important;
  }

  .MuiFormControl-root div {
    padding: 0;
  }

  .MuiFormControl-root div div {
    display: none;
  }

  .MuiFormControl-root div button {
    padding: 0;
    padding-right: 4px;
  }

  .MuiFormControl-root div button svg {
    width: 0.8em;
    height: 0.8em;
  }
}
